.body{
    background-image: url("hmong_4.jpg");
    background-size: cover; 
}
h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-weight: bold;
}
h3{
    color: whitesmoke;
    font-weight: bold;
    font-family: cursive;;
}
button:hover {
    color: black;
    background-color: whitesmoke;
}
button{
    color: silver;
    background-color: black;
    font-size: 20px;
}
.space{
    margin: 25px;
}
.outline{
    border-style: solid;
    border-color: gray;
    border-width: 10px;
    padding: 10px;
    border-radius: 15px;
}
ul{
    list-style-position: inside;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    background-color: white;
}
.indent{
    text-indent: 35px;
    margin-left: 45px;
    margin-top: 25px;
    margin-right: 45px;
}

p{
    color: whitesmoke;
}
.classy{
    border-style: solid;
    border-color: slategrey;
    border-width: 10px;
    border-radius: 50%;
}
.info{
    background-image:url("bar_glass.jpg");
    color: white;
}
h2{
    padding: 45px;
    font-style: italic;
    font-size: 60px;
    font-family: cursive;
    font-weight: bold;
}
.contact{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}
#top{
    margin: 25px;
}
.softdev{
    background-image: url("software-developer.jpg");
    -webkit-filter: blur(5px);filter: blur(5px);
}
.round{
    border-radius: 8px;
}
